body {
    background-image: url('../img/img-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.card{
    margin-top: 4rem;
    margin-left: 10rem;
}
.text-light{
    text-align: center;
    font-family: 'Figtree', sans-serif;
}
.card-title{
    text-align: center;
}
.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
  }